<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GotchaPokémon</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="../style.css" />
    <script src="../scripts/game.js" defer></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body id="game_body">
    <div id="app">
      <div v-show="show_list">
      <header class="text-center">
        <a href="index.html" class="navbar-brand">
          <img
            src="https://raw.githubusercontent.com/manzolimatheus/pokemongotcha/main/Assets/Logo.png"
            alt="Logo"
            width="300"
          />
        </a>
      </header>
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="../index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="score.html" class="nav-link">Pontuação</a>
          </li>
        </ul>
      </nav>
    </div>
      <div v-if="game_active" class="hud p-3">
        <div class="row text-center">
          <div class="col">
            <p><strong>🐱 Pokémons capturados: </strong>{{score}}</p>
          </div>
          <div class="col">
            <p><strong>⏲️ Tempo: </strong>{{view_timer}}/120s</p>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div
        class="game_container mx-auto"
        v-if="game_active"
        id="game_container"
      >
        <img
          :src="image"
          id="player"
          alt="Player"
          :style="{top: y, left: x}"
          @click="UpdateScore"
        />
      </div>
      <br />
      <div
        id="show_list"
        v-if="show_list"
        class="container bg-white rounded h-100"
      >
        <h3 class="text-center p-3">Você capturou {{score}} pokémons! 💥</h3>
        <div class="row">
          <div v-for="item in final_list" class="col-sm-4 text-center">
            <img
              :src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+item[0]+'.png'"
              alt=""
            />
            <h3>{{item[1]}}</h3>
            <p class="rounded-pill type p-3">✨ {{item[2]}}</p>
          </div>
        </div>
        <div id="buttons" class="row p-3">
          <div class="col">
            <button @click="TryAgain" class="button-again">
              Tentar novamente
            </button>
          </div>
          <div class="col">
            <button @click="SaveResult" class="button-save">
              Salvar resultado
            </button>
          </div>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
